<link rel="import"
      href="../aba-widget/aba-widget.html">
<link rel="import"
      href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import"
      href="../abas-styles/abas-styles.html">
<link rel="import"
      href="../polymer/polymer.html">
<link rel="import"
      href="../auth0-authenticator/auth0-fetch.html">
<link rel="import"
      href="../abas-config/abas-config-meta.html">
<link rel="import"
      href="../paper-input/paper-input.html">
<link rel="import"
      href="../paper-button/paper-button.html">
<link rel="import"
      href="../vaadin-combo-box/vaadin-combo-box.html">
<link rel="import"
      href="../vaadin-grid/vaadin-grid-column.html">
<link rel="import"
      href="../l2t-paper-color/l2t-paper-color.html">
<link rel="import"
      href="../prism-event-bus/prism-event-bus.html">
<link rel="import"
      href="../abas-widget-style/abas-widget-style.html">
<link rel="import"
      href="../aba-js-imports/echart-import.html">
<link rel="import"
      href="../abas-database-picker/abas-database-picker.html">
<link rel="import"
      href="../abas-table-with-controls/abas-table-with-controls.html">
<link rel="import"
      href="../abas-erp-command-builder/abas-erp-command-builder.html">

<dom-module id="aba-crm-graph">
    <template>
        <style include="abas-widget-style">
            #main {
                height: calc(100% - 30px);
                width: 100%;
            }
        </style>

        <abas-config-meta data="{{configuration}}"></abas-config-meta>

        <aba-widget>
            <div slot="content"
                 title="">
                <div class="title">[[title]]</div>
                <div id="main"></div>
            </div>
            <div slot="settingsForm"
                 title="">
                <dom-if if="[[editMode]]">
                    <template>
                        <l2t-paper-color hide-advanced
                                         label="[[localize('topBarColor')]]"
                                         value="{{topBarColor}}"></l2t-paper-color>

                        <vaadin-combo-box label="[[localize('chartType')]]"
                                          items="[[chartTypes]]"
                                          selected-item="{{selectedChartType}}"></vaadin-combo-box>

                        <paper-input label="[[localize('title')]]"
                                     type="text"
                                     on-change="titleChanged"
                                     value="{{title}}"></paper-input>

                        <paper-input label="[[localize('messageBusIn')]]"
                                     type="text"
                                     on-change="messageBusInChanged"
                                     value="{{messageBusIn}}"></paper-input>

                        <paper-button on-tap="_addNewRow"
                                      raised>[[localize('addNewRow')]]</paper-button>

                        <abas-table-with-controls fields="{{bars}}">
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('name')]]
                                </template>
                                <template>
                                    <paper-input no-label-float
                                                 type="text"
                                                 value="{{item.name}}"
                                                 on-change="_barsChanged"></paper-input>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('erpCompany')]]
                                </template>
                                <template>
                                    <paper-input no-label-float
                                                 type="text"
                                                 value="{{item.company}}"
                                                 on-change="_barsChanged"></paper-input>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('db')]]
                                </template>
                                <template>
                                    <abas-database-picker no-label-float
                                                          company="[[item.company]]"
                                                          selection="{{item.db}}"></abas-database-picker>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="30%">
                                <template class="header">
                                    [[localize('selection')]]
                                </template>
                                <template>
                                    <paper-input no-label-float
                                                 type="text"
                                                 value="{{item.selection}}"
                                                 on-change="_barsChanged"></paper-input>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('criteriaObjectID')]]
                                </template>
                                <template>
                                    <paper-input no-label-float
                                                 type="text"
                                                 value="{{item.objectID}}"
                                                 on-change="_barsChanged"></paper-input>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('variableToSum')]]
                                </template>
                                <template>
                                    <paper-input no-label-float
                                                 type="text"
                                                 value="{{item.variable}}"
                                                 on-change="_barsChanged"></paper-input>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('color')]]
                                </template>
                                <template>
                                    <l2t-paper-color hide-advanced
                                                     no-label-float
                                                     value="{{item.color}}"
                                                     on-change="_barsChanged"></l2t-paper-color>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    [[localize('action')]]
                                </template>
                                <template>
                                    <abas-erp-command-builder no-label-float
                                                              settings="{{item.action}}"
                                                              on-command-display-changed="_onCommandDisplayChanged"></abas-erp-command-builder>
                                </template>
                            </vaadin-grid-column>
                        </abas-table-with-controls>
                    </template>
                </dom-if>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>
    <script>
        class AbaCrmGraph extends ABAS.WidgetBehavior(Polymer.Element) {
            static get is() {
                return 'aba-crm-graph'
            }

            static get properties() {
                return {
                    title: {
                        type: String,
                        // observer: 'titleChanged'
                    },
                    messageBusIn: {
                        type: String,
                        // notify: true,
                        observer: '_messageBusChanged'
                    },
                    bars: {
                        type: Array
                    },
                    customer: {
                        type: String
                    },
                    topBarColor: {
                        type: String,
                        value: "",
                        observer: '_topBarColorChanged'
                    },
                    fallbackLanguage: {
                        value: "en"
                    },
                    chartTypes: {
                        type: Array,
                    },
                    selectedChartType: {
                        type: String,
                        observer: '_selectedChartTypeChanged'
                    }
                };
            }

            /**
             * Array of strings describing multi-property observer methods and their
             * dependant properties
             */
            static get observers() {
                return [
                    '_barsChanged(bars,bars.*,bars.splices)'
                ];
            }

            _onCommandDisplayChanged(e) {
                if (e.model && e.model.item && e.model.item.actionURL) {
                    e.model.item.actionURL = e.detail.value;
                }
            }

            _topBarColorChanged() {
                this.updateStyles({
                    '--widget-top-border-color': this.topBarColor
                });

                this.fireAttributesUpdate([{
                    name: 'topBarColor',
                    value: this.topBarColor
                }]);
            }

            _barsChanged() {
                this.fireAttributesUpdate([{
                    name: "bars",
                    value: this.bars
                }]);
                this._getData();
            }

            _addNewRow() {
                if (!this.bars) {
                    this.bars = [];
                }
                this.push('bars', {
                    selection: "",
                    variable: "",
                    color: "",
                    name: "",
                    db: "",
                    company: "",
                    action: "",
                    actionURL: "",
                    objectID: "",
                });
            }

            /**
             * Called every time the element is inserted into the DOM. Useful for 
             * running setup code, such as fetching resources or rendering.
             * Generally, you should try to delay work until this time.
             */
            connectedCallback() {
                super.connectedCallback();

                this.addEventListener('app-localize-resources-loaded', (e) => {

                    if (typeof this.localize == 'function') {

                        this.chartTypes = [
                            { label: this.localize('donut'), value: "D" },
                            { label: this.localize('barHorizontal'), value: "BH" },
                            { label: this.localize('barVertical'), value: "BV" }];

                        // default value: chart type
                        if (!this.selectedChartType) {
                            this.selectedChartType = this.chartTypes[0];
                        } else {
                            let type = this.selectedChartType;
                            if (typeof this.selectedChartType != 'object') {
                                type = JSON.parse(this.selectedChartType);
                            }
                            this.selectedChartType = this.chartTypes.length > 0 ? this.chartTypes.filter(o => {
                                return o.value == type.value
                            })[0] : this.chartTypes[0];
                        }
                    }
                });

                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));

                // auto resize chart
                const that = this;
                window.addEventListener('resize', e => {
                    that._debouncer = Polymer.Debouncer.debounce(
                        that._debouncer,
                        Polymer.Async.timeOut.after(500),
                        () => {
                            that.myChart.resize();
                        });
                });

                this.addEventListener('open-action', e => {
                    e.stopPropagation();
                    const match = this.bars.filter((bar) => {
                        return bar.name == e.detail.name
                    });

                    if (match && match.length > 0 && match[0].actionURL) {
                        let baseCmd = `${match[0].actionURL}`;
                        let cmd = "";

                        let link = document.createElement("a");
                        link.setAttribute('target', '_blank');
                        cmd = `${baseCmd}`;

                        link.setAttribute('href',
                            `/erp/?type=cmd&cmd=${encodeURIComponent(cmd)}&mandant=${match[0].company}`
                        );
                        link.click();
                    }
                });

                Array.prototype.move = function (old_index, new_index) {
                    if (new_index >= this.length) {
                        var k = new_index - this.length;
                        while ((k--) + 1) {
                            this.push(undefined);
                        }
                    }
                    this.splice(new_index, 0, this.splice(old_index, 1)[0]);
                    return this; // for testing purposes
                };

            }

            _registerListener(newValue, oldValue, cb) {
                if (!!oldValue) {
                    PrismEventBus.unregister(this, [oldValue]);
                    this.removeEventListener(oldValue, cb);
                }
                if (!!newValue) {
                    PrismEventBus.register(this, [newValue]);
                    this.addEventListener(newValue, cb);
                }
            }

            _messageBusChanged(newValue, oldValue) {
                this._registerListener(newValue, oldValue, e => {
                    this.objectID = e.detail.id;
                    this._getData();
                });
            }

            _selectedChartTypeChanged(newValue, oldValue) {
                this._attrChanged('selectedChartType');
                if (newValue
                    && (!oldValue || (newValue.value != oldValue.value))) {
                    this._getData();
                }
            }

            titleChanged() {
                this._attrChanged('title');
            }

            companyChanged() {
                this._attrChanged('company');
            }

            messageBusInChanged() {
                this._attrChanged('messageBusIn');
            }

            _attrChanged(name) {
                if (this[name] !== undefined) {
                    this.fireAttributesUpdate([{
                        name: name,
                        value: this[name]
                    }]);
                }
            }

            /**
             * Compute selection to run the request with
             * @argument index: the index in `this.bars`
             */
            computeSelection(index) {
                if (index === undefined) {
                    return;
                }

                let selection = this.bars[index].selection ? this.bars[index].selection : '';
                if (this.bars[index].objectID && this.objectID) {
                    selection += `;${this.bars[index].objectID}=${this.objectID}`;
                }

                const params = new URLSearchParams();
                params.append('headFields', [this.bars[index].variable].join(','));
                params.append('tableFields', '-');
                params.append('criteria', selection);
                params.append('limit', "0");

                return params;
            }

            /**
             * Initialize chart component
             *
             */
            initChart() {
                if (!this.myChart) {
                    this.myChart = echarts.init(this.$.main);
                    this.myChart.on('click', function (params) {

                        this._dom.dispatchEvent(new CustomEvent('open-action', {
                            bubbles: true,
                            composed: true,
                            detail: {
                                name: params.name
                            }
                        }));

                    });
                }
            }

            _getData() {

                let xAxis = [];
                let series = [];
                for (let index in this.bars) {
                    if (this.bars[index] && this.bars[index].company && this.bars[index].db) {
                        xAxis[index] = {
                            value: this.bars[index].name,
                            textStyle: {
                                color: this.bars[index].color
                            }
                        };
                        series[index] = 0;

                        let params = this.computeSelection(index);
                        const _baseURL =
                            `${this.configuration.api.erpBaseURL}/mw/r/${this.bars[index].company}`;

                        auth0Fetch(`${_baseURL}/obj/data/${this.bars[index].db.tableSpec}?${params}`, {
                            headers: new Headers({
                                'accept': 'application/abas.objects+json',
                            })
                        }).then((resp) => {
                            if (resp.status === 200) {
                                return resp.json();
                            }
                            throw new Error(`This ain't working. Request to middleware failed.`)
                        }).then((mwResponse) => {
                            let erpObjects = _.get(mwResponse, 'content.data.erpDataObjects');
                            if (!erpObjects) {
                                console.log('middleware response is not as expected');
                                return
                            }
                            // console.log(erpObjects);

                            let sum = 0;
                            let sumField = this.bars[index].variable;
                            erpObjects.forEach(e => {
                                sum += _.get(e, `head.fields.${sumField}.value`, 1);
                                
                            });
                            series[index] = {
                                value: parseFloat(Math.round(sum * 100) / 100).toFixed(2),
                                itemStyle: {
                                    color: this.bars[index].color,
                                },
                                name: this.bars[index].name,
                            };

                            this.initChart();

                            var option = this._donutChart(series);
                            switch (this.selectedChartType.value) {
                                case 'BV':
                                    option = this._barChart(series, xAxis);
                                    break;
                                case 'BH':
                                    option = this._barChart(series, xAxis, { horizontal: true });
                                    break;
                                case 'D':
                                    option = this._donutChart(series);
                                    break;
                                default:
                                    option = this._donutChart(series);
                                    break;
                            }

                            this.myChart.setOption(option);
                        });

                    };
                }
            }

            _donutChart(series, xAxis) {
                var option = {
                    legend: {
                        // orient: 'horizontal',
                        orient: 'vertical',
                        x: 'right',
                        // y: 'bottom',
                        data: xAxis,
                        show: true
                    },
                    xAxis: { show: false },
                    yAxis: { show: false },
                    tooltip: {
                        trigger: 'item',
                        formatter: (params) => {
                            let value = new Intl.NumberFormat(this.language.replace('_', '-'), {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }).format(params.data.value);
                            return `${params.data.name}: ${value} (${params.percent}%)`
                        }
                    },
                    series: [{
                        name: this.title,
                        type: 'pie',
                        radius: ['50%', '80%'],
                        data: series,
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    formatter: (params) => {
                                        let value = new Intl.NumberFormat(this.language.replace(
                                            '_', '-'), {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                            }).format(params.data.value);
                                        value = value === NaN ? "0" : value;
                                        return `${params.data.name}\n${value} (${params.percent}%)`;
                                    },
                                },
                                labelLine: {
                                    show: true
                                },

                            },
                        },
                    },],
                };

                return option;
            }

            _barChart(series, xAxis, options) {
                let value = { type: 'value', show: true }
                let category = { type: 'category', data: xAxis, show: true, axisLabel: { rotate: 25 } }
                let xaxis = value;
                let yaxis = value;

                options && options.horizontal ? yaxis = category : xaxis = category;

                var option = {
                    tooltip: {},
                    legend: {
                        show: false
                        //     data: [this.title]
                    },
                    grid: {
                        left: '15%'
                    },
                    xAxis: xaxis,
                    yAxis: yaxis,
                    tooltip: {
                        trigger: 'item',
                        formatter: (params) => {
                            let value = new Intl.NumberFormat(this.language.replace('_', '-'), {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }).format(params.data.value);
                            return `${params.data.name}: ${value}`
                        }
                    },
                    series: [{
                        name: this.title,
                        type: 'bar',
                        data: series
                    },]
                };

                return option;
            }
        }
        customElements.define(AbaCrmGraph.is, AbaCrmGraph);
    </script>
</dom-module>